.diaries {
  position: absolute;
  width: 100%;
  padding: 100px 0px;
  background: #f5f5f5;
}

.diary-box {
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.diary-box:nth-child(1) {
  margin-top: 0%;
}

.column-2 {
  float: left;
  position: relative;
}

.news-bottom {
  margin-top: 4%;
}

/* news-left for image */
.news-left {
  padding: 0;
}

.news-left img {
  width: 400px;
  height: 300px;
}

/* news-right for paragraph */
.news-right {
  padding: 2em;
  height: 300px;
  width: 500px;
  border: 1px solid rgb(230, 229, 229);
  text-align: left;
  background: #fff;
}

.news-right h4 {
  font-size: 1.4em;
  margin: 0;
  color: #00bdbd;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
}

.news-right h5 {
  color: #ff0000;
  margin: 12px 0px;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: right;
}

.news-right p {
  font-family: "Times New Roman", "宋体";
  line-height: 37px;
}

a.lightbox img {
  width: 100%;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.lightbox img:hover {
  background: #21A957;
}

