body.diary-body {
  background: #f5f5f5;
}

h5.date-of-diary {
  color: #ff0000;
  font-size: 20px;
}
.colume-1 {
  float: left;
  width: 50%;
  position: relative;
}

/* diary div setting in diary page */
.diary {
  color: #000;
  position: relative;
  top: 50px;
  border: 5px solid red;
  margin: 100px auto;
  padding: 20px, 10px;
  width: 60%;
  overflow: hidden;
}
.diary-title {
  position: relative;
  top: 10%;
}
.diary-title h4 {  /* title of diary */
  text-align: center;
  font-size: 50px;
  font-family: "黑体"
}
.diary-title h5 {  /* date of diary */
  font-size: 30px;
  color: #f00;
  text-align: right;
  font-family: "Times New Roman";
  position: relative;
  top: 20px;
  padding-right: 20px;
}
.diary-content {
  margin: 3% auto auto auto;
}
.diary-content p {
  text-indent: 2em;
  font-size: 25px;
  line-height: 40px;
  font-family: "宋体";
  padding-top: 0px;
}
.diary-content img {
  float: right;
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* //diary div setting in diary page */

/* mobile device setting */
@media(max-width:1080px) {
  .diary {
    color: #000;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 95%;
    border: 3px solid red;
    padding: 3%;
  }
  .diary-title {
    position: relative;
    top: 20%;
  }
  .diary-title h4 {  /* title of diary */
    text-align: center;
    font-size: 3em;
    font-family: "黑体";
  }
  .diary-title h5 {  /* date of diary */
    font-size: 1.5em;
    color: #f00;
    text-align: right;
    font-family: "Times New Roman";
    position: relative;
    top: 20px;
    padding-right: 20px;
  }
  .diary-content {
    margin: 3% auto auto auto;
  }
  .diary-content p {
    text-indent: 1em;
    font-size: 1em;
    line-height: 2em;
    font-family: "宋体";
    padding-top: 20px;
  }
  .diary-content img {
    float: right;
    width: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}