.work {
  background: #000;
}

.experience {
  padding: 100px 0px;
}

.work-information {
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto: 
}

.work-information ul li {
  display: block;
}

.work-information ul li ul li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-top: .8em;
  font-weight: 400;
}

.work-information ul li ul li:nth-child(1) {  /* 1st li */
  width: 20%;
}

.work-information ul li ul li:nth-child(2) {  /* 2nd li */
  width: 35%;
}

.work-information h4 {
  font-size: 1.5em;
  color: #00bdbd;
  margin-bottom: .5em;
  display: inline-block;
  padding: 0 1.2em; 
}

.work-information h5 {
  font-size: 1.5em;
  display: inline-block;
  padding: .4em 1.2em;
  color: #0a0a0a;
  position: relative;
}

.work-information span.glyphicon {  /* icon */
  margin-left: 5%;
  font-size: 0.9em;
  color: #ffffff;
  background: #ec1944;
  padding: 1em;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  border-radius: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.experience {
  padding-top: 0px!important;
}

.experience h4.title-w3ls {
  margin-bottom: 20px;
}

